.profile-container {
    min-height: calc(100vh - 130px);
    .item-underline {
        position: absolute;
        transform: translateY(-50%);
        height: 2px;
        background-color: var(--color7);
        transition: all 0.3s ease-in-out;
    }
}

.address-container {
    .text-underline {
        color: var(--color7);
        position: relative;
        cursor: pointer;
        &::after {
            content: "";
            position: absolute;
            width: 0px;
            height: 0.1px;
            left: 0px;
            bottom: 0px;
            background-color: var(--color7);
            transition: all 0.3s ease;
        }
        &:hover::after {
            width: 100%;
        }
    }
    .text-delete {
        color: #dc3545;
        position: relative;
        cursor: pointer;
        &::after {
            content: "";
            position: absolute;
            width: 0px;
            height: 0.1px;
            left: 0px;
            bottom: 0px;
            background-color: #dc3545;
            transition: all 0.3s ease;
        }
        &:hover::after {
            width: 100%;
        }
    }
}