.feedback-modal {
    .custom-rate .ant-rate-star-full, .custom-rate .ant-rate-star-half .ant-rate-star-first {
        color: #fadb14 !important;
    }
    .custom-rate .ant-rate-star:hover {
        color: #fadb14 !important;
    }
}