.cart-container {
    .delete-cart {
        font-weight: 600;
        color: var(--color7);
        position: relative;
        cursor: pointer;
        &::after {
            content: "";
            position: absolute;
            width: 0px;
            height: 0.1px;
            left: 0px;
            bottom: 0px;
            background-color: var(--color7);
            transition: all 0.3s ease;
        }
        &:hover::after {
            width: 100%;
        }
    }
    .button-delete {
        width: 50%;
        margin-top: 10px;
        transition: all 0.3s ease-in-out;
    }
}