.menu-outlet-container {
    padding: 0px 10px;
    margin-top: 10px;
    .menu-static {
        background-color: white;
        width: 96%;
        border-radius: 20px;
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100vh - 90px);
    }
    .feature-menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .menu-item {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: var(--color2);
        }
    }
    .menu-item-name {
        font-size: 20px;
    }
    .menu-item-active {
        background-color: var(--color4);
        &:hover {
            background-color: var(--color4);
        }
    }
    .outlet {
        background-color: white;
        width: 99%;
        border-radius: 20px;
        padding: 20px;
        height: fit-content;
    }
}