.pay-container {
    .input-active {
        border-color: var(--color6);
        box-shadow: 0 0 0 2px var(--color2);
    }
    .button-select-address {
        color: var(--color7);
        position: relative;
        cursor: pointer;
        &::after {
            content: "";
            position: absolute;
            width: 0px;
            height: 0.1px;
            left: 0px;
            bottom: 0px;
            background-color: var(--color7);
            transition: all 0.3s ease;
        }
        &:hover::after {
            width: 100%;
        }
    }
}

.select-address-container {
    .unit-address-underline {
        position: absolute;
        transform: translateY(-100%);
        height: 2px;
        background-color: var(--color7);
        transition: all 0.3s ease-in-out;
    }
    .item-address {
        padding: 10px;
        border-radius: 15px;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: var(--color2);
        }
    }
    .address-active {
        background-color: var(--color6);
        color: white;
        font-weight: 600;

        &:hover {
            background-color: var(--color6);
        }
    }
}
