.create-account-container {
    background-color: whitesmoke;
    .form-create {
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
        padding: 30px 20px;
    }
}