.header-container {
    position: sticky;
    width: 100%;
    top: 0px;
    height: 70px;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
    // margin-bottom: 10px;
    .header-item {
        cursor: pointer;
        display: inline-block;
        position: relative;
        color: black;
        font-size: 20px;
        text-align: center;
        font-weight: 400;
        transition: all 0.3s ease;
        &::after {
            content: "";
            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 0%;
            height: 0.1px;
            background-color: var(--color8);
            transition: all 0.3s ease;
        }
        &:hover {
            color: var(--color7);

            &::after {
                width: 100%;
                background-color: var(--color7);
            }
        }
    }
    .header-item-active {
        color: var(--color8);
        &::after {
            width: 100%;
        }
        &:hover {
            color: var(--color8);

            &::after {
                background-color: var(--color8);
            }
        }
    }
    .cart-icon, .user-icon {
        stroke: black;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
            stroke: var(--color8);
        }
    }
}