.home-container {
    .banner-container {
        position: relative;
        width: 100%;
        height: fit-content;
    }
    .banner {
        object-fit: cover;
        width: 100%;
        z-index: 2;
    }
    .overlay {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: rgba(190, 190, 190, 0.5);
        z-index: 1;
    }
}