.home-container {
    .slick-list,
    .slick-track {
        height: 100% !important;
    }

    .slick-slide {
        display: flex !important;
        justify-content: center;
        align-items: center;
        height: 100% !important;
    }

    .slick-slide > div {
        height: 100%;
        display: flex !important;
        justify-content: center;
        align-items: center;
        width: 100% !important;
    }

    .slick-slide > div > div {
        display: flex !important;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: auto !important;
    }

    .ant-carousel .slick-dots li button {
        background: var(--baseFive) !important;
    }

    .ant-carousel .slick-dots li.slick-active::after {
        background: var(--baseFive);
    }
}