.production-detail-container {
    .image-active {
        padding: 1px;
        border: 2px solid var(--color7);
        transition: all 0.1s ease-in-out;
    }
    .option-active {
        background-color: var(--color7);
        color: white;
    }
}