.production-detail-container {
    .image-active {
        padding: 1px;
        border: 2px solid var(--color7);
        transition: all 0.1s ease-in-out;
    }
    .item-variant, .item-option {
        padding: 5px 10px;
        border: 1px solid var(--color8);
        border-radius: 15px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        &:hover {
            color: white;
            background-color: var(--color7);
            border-color: var(--color7);
        }
    }
    .variant-active, .option-active {
        color: white;
        background-color: var(--color8);
        border-color: var(--color8);

        &:hover {
            color: white;
            background-color: var(--color8);
            border-color: var(--color8);
        }
    }
}