.add-cart-modal {
    .image-active {
        padding: 1px;
        border: 2px solid var(--color7);
        transition: all 0.1s ease-in-out;
    }
    .item-variant, .item-option {
        position: relative;
        padding: 5px 10px;
        border: 1px solid var(--color8);
        border-radius: 15px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        overflow: hidden;
        &:hover {
            color: white;
            background-color: var(--color7);
            border-color: var(--color7);
        }
    }
    .variant-active, .option-active {
        color: white;
        background-color: var(--color8);
        border-color: var(--color8);

        &:hover {
            color: white;
            background-color: var(--color8);
            border-color: var(--color8);
        }
    }
    .variant-disable {
        background-color: white;
        pointer-events: none;
    }
    .variant-disable::before, .variant-disable::after{
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: var(--diagonal);
        height: 1px;
        background: var(--color8);
        transform-origin: center;
    }
    .variant-disable::before{
        transform: translate(-50%, -50%) rotate(var(--rotate));
    }

    .variant-disable::after{
        transform: translate(-50%, -50%) rotate(calc(var(--rotate) * -1));
    }
}