@import url('https://fonts.googleapis.com/css2?family=Prata&family=Quicksand:wght@300..700&display=swap');

* {
    font-family: "Quicksand", sans-serif;
    // font-family: "Prata", serif;
    font-size: 16px;
    user-select: none;
}

.input-ant {
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
}

body {
    background-color: #f4f4f4;
}

//Màu gốc: #f84c2f

//Màu hover: #fb6445

//Màu đậm: #d0011b