:root {
    --baseOne: #D8E5FE;
    --baseTwo: #A2C0FA;
    --baseThree: #78A2F5;
    --baseFour: #5487ED;
    --baseFive: #316BDE;
    // --color1: #F4F2F1;
    // --color2: #E0D9D7;
    // --color3: #CBC1BD;
    // --color4: #B7A9A4;
    // --color5: #A3918A;
    // --color6: #8F7870;
    // --color7: #75635C;
    // --color8: #574944;
    // --color9: #423734;
    // --color10: #28221F;
    // --color11: #0E0C0B;

    // --color1: #F0F5F1;
    // --color2: #D4E3D9;
    // --color3: #B8D1C0;
    // --color4: #9CBFA8;
    // --color5: #7CAA8B;
    // --color6: #659A77;
    // --color7: #537F61;
    // --color8: #40634C;
    // --color9: #2E4737;
    // --color10: #1C2B21;
    // --color11: #0A0F0C;
    
    // --color1: #FDE8E8;
    // --color2: #F9BEBE;
    // --color3: #F49494;
    // --color4: #F06A6A;
    // --color5: #EC4141;
    // --color6: #E81A1A;
    // --color7: #BE1313;
    // --color8: #950F0F;
    // --color9: #6B0B0B;
    // --color10: #410606;
    // --color11: #170202;

    --color1: #FDEFE7;
    --color2: #FAD3BD;
    --color3: #F7B792;
    --color4: #F49B67;
    --color5: #F07E3D;
    --color6: #c9a891; //#ED6212;
    --color7: #987460; //#D45710; //hover
    --color8: #983F0B; //active
    --color9: #6D2D08;
    --color10: #421C05;
    --color11: #180A02;
}