.all-product-container {
    .category {
        cursor: pointer;
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        &:hover {
            .name-category {
                color: var(--color8);
            }
            
            .icon-category {
                border: 2px solid var(--color8);
            }
        }
    }
    .category-active {
        .name-category {
            color: var(--color8);
        }
        
        .icon-category {
            border: 2px solid var(--color8);
        }
    }
    .icon-category {
        width: 120px;
        padding: 20px;
        background-color: var(--color1);
        border-radius: 50%;
        border: 2px solid var(--color4);
        transition: all 0.3s ease-in-out;
    }
    .name-category {
        color: var(--color4);
        font-size: 25px;
        transition: all 0.3s ease-in-out;
    }
    .sort-option {
        padding: 10px 15px;
        border: 1px solid var(--color8);
        border-radius: 30px;
    }
}